.body {
  margin-top: -28;
  margin-bottom: 16;
  color: rgba(0, 0, 0, 0.5);
}

.electrodesScaleWrapper {
  height: 150;
  width: 150;
  border-radius: 75;
  background-color: rgba(255, 255, 255, 0.8);
}
