.tab-title { }

#errorView {
  Label {
    background-color: black;
    color: white;
    border-radius: 8;
    margin: 5 10;
    padding: 5 10;
    font-weight: bold;
  }
}

#errorNoInternet {

}

#errorPoolControllerNotReachable {

}
