<GridLayout class="page">
    <ScrollView class="relaysView">
        <StackLayout>
            <StackLayout *ngFor="let relay of relays; let i = index">
                <StackLayout orientation="horizontal" class="relayItem" [ngClass]="{odd: i % 2, even: !(i % 2)}">
                    <ns-relay [data]="relay"></ns-relay>
                </StackLayout>
            </StackLayout>
            <StackLayout *ngFor="let dosageRelay of dosageRelays; let i = index">
                <StackLayout orientation="horizontal" class="relayItem" [ngClass]="{odd: i % 2, even: !(i % 2)}">
                    <ns-relay [data]="dosageRelay" readonly="true"></ns-relay>
                </StackLayout>
            </StackLayout>
        </StackLayout>
    </ScrollView>
</GridLayout>
